body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    
}

.container {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-family: Consolas, "Courier New", monospace;
    font-size: 12pt;
}

h2 {
    font-family: Consolas, "Courier New", monospace;
    font-size: 12pt;
}
.code-block {
    position: relative;
}

pre {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: Consolas, "Courier New", monospace;
    font-size: 12pt;
}

#copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #fff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#copy-btn:hover {
    background-color: #e7e7e7;
}